
@{
    ViewData["Title"] = "SellerBuyer";
}

<h1>Select your choice</h1>
<a type="button" asp-area="" asp-action="BuyerLogin" asp-controller="Emart" class="btn btn-outline-primary btn-lg btn-block">Buyer</a>
<a type="button" asp-area="" asp-action="SellerLogin" asp-controller="Emart" class="btn btn-outline-secondary btn-lg btn-block">Seller</a>



